## Pandas DataFrames II


### Programming for Data Science
### Last Updated: Oct 6, 2025
---  


### PREREQUISITES
- variables
- data types
- operators
- list comprehensions (not essential)
- numpy arrays (not essential)
- pandas DataFrames I


### SOURCES 
- ten minutes to pandas  
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html


- pivot_table()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html


- concat()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html


- merge()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html


- get_dummies()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html



### OBJECTIVES
- Introduce more advanced pandas dataframe operations for data munging
 


### CONCEPTS

- DataFrame
- apply()
- aggregation using split-apply-combine
- pivot_table()
- groupby()
- concat()
- merging/joining dataframes with merge(), concat()
- reshaping data
- dummy coding categorical data


---

## Additional Pandas DataFrame Functionality

Pandas DataFrames I covered creating, modifying, and subsetting DataFrames, among other topics.  
These notes will demonstrate further methods for data munging and analysis.

In [1]:
import numpy as np
import pandas as pd

#### Load Iris

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/lavina/Desktop/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import seaborn as sns

iris = sns.load_dataset('iris')

In [3]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

## I. `apply()`

Apply a transformation to each record. Uses a `lambda` function.

In [5]:
iris['sepal_len_sq'] = iris.sepal_length.apply(lambda x: x**2)
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species  sepal_len_sq
0           5.1          3.5           1.4          0.2  setosa         26.01
1           4.9          3.0           1.4          0.2  setosa         24.01
2           4.7          3.2           1.3          0.2  setosa         22.09
3           4.6          3.1           1.5          0.2  setosa         21.16
4           5.0          3.6           1.4          0.2  setosa         25.00

Transformation involving multiple columns. Uses `axis=1` to access columns.  
Compute average of `sepal_length`, `sepal_width`:

In [7]:
iris['sepal_len_wid_avg'] = iris[['sepal_length','sepal_width']].apply(lambda x: (x.sepal_length+x.sepal_width)/2, axis=1)
iris.head()
#axis =1 means use by columns axis=0 means use by rows

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_len_sq,sepal_len_wid_avg
0,5.1,3.5,1.4,0.2,setosa,26.01,4.30
1,4.9,3.0,1.4,0.2,setosa,24.01,3.95
2,4.7,3.2,1.3,0.2,setosa,22.09,3.95
3,4.6,3.1,1.5,0.2,setosa,21.16,3.85
4,5.0,3.6,1.4,0.2,setosa,25.00,4.30

In [8]:
iris['sepal_len_wid_avg2'] = iris[['sepal_length','sepal_width']].mean(axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_len_sq,sepal_len_wid_avg,sepal_len_wid_avg2
0,5.1,3.5,1.4,0.2,setosa,26.01,4.30,4.30
1,4.9,3.0,1.4,0.2,setosa,24.01,3.95,3.95
2,4.7,3.2,1.3,0.2,setosa,22.09,3.95,3.95
3,4.6,3.1,1.5,0.2,setosa,21.16,3.85,3.85
4,5.0,3.6,1.4,0.2,setosa,25.00,4.30,4.30

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Use `apply()` to append a new column that is the minimum of (petal_length, petal_width)

Print the head, tail of the new dataframe to check things look correct.

⚠️课后再看看这个⚠️

In [15]:
iris['min_petal']=iris[['petal_length', 'petal_width']].apply(lambda x: min(x.petal_length, x.petal_width, axis=1)
print(iris.head())

SyntaxError: '(' was never closed (2405922403.py, line 1)

In [12]:
iris['min_petal']=iris[['petal_length','petal_width']].apply(lambda x: min(x.petal_length, x.petal_width), axis=1)
print(iris.head())
print(iris.tail())

   sepal_length  sepal_width  petal_length  petal_width species  sepal_len_sq  \
0           5.1          3.5           1.4          0.2  setosa         26.01
1           4.9          3.0           1.4          0.2  setosa         24.01
2           4.7          3.2           1.3          0.2  setosa         22.09
3           4.6          3.1           1.5          0.2  setosa         21.16
4           5.0          3.6           1.4          0.2  setosa         25.00

   sepal_len_wid_avg  sepal_len_wid_avg2  min_petal
0               4.30                4.30        0.2
1               3.95                3.95        0.2
2               3.95                3.95        0.2
3               3.85                3.85        0.2
4               4.30                4.30        0.2
     sepal_length  sepal_width  petal_length  petal_width    species  \
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     sepal_len_sq  sepal_len_wid_avg  sepal_len_wid_avg2  min_petal
145         44.89               4.85                4.85        2.3
146         39.69               4.40                4.40        1.9
147         42.25               4.75                4.75        2.0
148         38.44               4.80                4.80        2.3
149         34.81               4.45                4.45        1.8

In [16]:
iris['min_petal2']=iris[['petal_length','petal_width']].min(axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_len_sq,sepal_len_wid_avg,sepal_len_wid_avg2,min_petal,min_petal2
0,5.1,3.5,1.4,0.2,setosa,26.01,4.30,4.30,0.2,0.2
1,4.9,3.0,1.4,0.2,setosa,24.01,3.95,3.95,0.2,0.2
2,4.7,3.2,1.3,0.2,setosa,22.09,3.95,3.95,0.2,0.2
3,4.6,3.1,1.5,0.2,setosa,21.16,3.85,3.85,0.2,0.2
4,5.0,3.6,1.4,0.2,setosa,25.00,4.30,4.30,0.2,0.2

## II. Aggregation

Involves one or more of:

- splitting the data into groups
- applying a function to each group
- combining results

### `groupby()`

Compute mean of each column, grouped (separately) by species

In [17]:
iris.groupby("species").mean()

,sepal_length,sepal_width,petal_length,petal_width,sepal_len_sq,sepal_len_wid_avg,sepal_len_wid_avg2,min_petal,min_petal2
species,,,,,,,,,
setosa,5.006,3.428,1.462,0.246,25.1818,4.217,4.217,0.246,0.246
versicolor,5.936,2.770,4.260,1.326,35.4972,4.353,4.353,1.326,1.326
virginica,6.588,2.974,5.552,2.026,43.7980,4.781,4.781,2.026,2.026

### `pivot_table()`

Apply a function `aggfunc` to selected values grouped by columns

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

Compute mean sepal length for each species:

In [18]:
pd.pivot_table(iris, values="sepal_length", columns=["species"], aggfunc = "mean")

species       setosa  versicolor  virginica
sepal_length   5.006       5.936      6.588

In [ ]:
⚠️values=["sepal_length", "sepal_width"], columns

### TRY FOR YOURSELF (UNGRADED EXERCISES)

2) Use a pivot table to compute the following statistics on sepal_width and petal_width grouped by species:

- median  
- mean

These can be computed together in a single call to `pivot_table()`.

In [ ]:
pd.pivot_table(iris, values=["sepal_width","petal_width"], columns=["species"], aggfunc = {"mean", "median"})

## III. Merging/Joining DataFrames


### `concat()`  

Concatenate pandas objects along an axis

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

Create two dfs and vertically stack them

In [19]:
df1 = pd.DataFrame(np.random.randn(3, 4))
df2 = pd.DataFrame(np.random.randn(3, 4))

print(df1)
print('-'*45)
print(df2)

df3 = pd.concat([df1, df2], axis=0)

print('-'*45)
print(df3)

          0         1         2         3
0  0.321393 -0.283645  0.130276 -0.281605
1 -0.803721 -0.651699 -1.737959  1.381340
2 -0.267161 -0.727285  1.419155  0.705819
---------------------------------------------
          0         1         2         3
0 -1.164004  0.369483  1.359644  0.803520
1 -0.627194 -0.307177  1.480353 -0.810031
2 -0.715490 -0.688978  0.289354  1.157665
---------------------------------------------
          0         1         2         3
0  0.321393 -0.283645  0.130276 -0.281605
1 -0.803721 -0.651699 -1.737959  1.381340
2 -0.267161 -0.727285  1.419155  0.705819
0 -1.164004  0.369483  1.359644  0.803520
1 -0.627194 -0.307177  1.480353 -0.810031
2 -0.715490 -0.688978  0.289354  1.157665

In [20]:
df4 = pd.concat([df1,df2], axis=1)
print('-'*45)
print(df4)

---------------------------------------------
          0         1         2         3         0         1         2  \
0  0.321393 -0.283645  0.130276 -0.281605 -1.164004  0.369483  1.359644
1 -0.803721 -0.651699 -1.737959  1.381340 -0.627194 -0.307177  1.480353
2 -0.267161 -0.727285  1.419155  0.705819 -0.715490 -0.688978  0.289354

          3
0  0.803520
1 -0.810031
2  1.157665

### `merge()`

SQL-style joining of tables (DataFrames)

Important parameters include:

- `how` : type of merge {'left', 'right', 'outer', 'inner', 'cross'}, default ‘inner’
- `on`  : names to join on
        
[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

Create two tables, `left` and `right`. Then right join them on `key`.  
Right join means include all records from table on right.  
The `key` is used for matching up the records.

In [23]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="right")

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  lval
0  jamie    15
1   bill    22

---right
     key  rval
0  jamie     4
1   bill     5
2  asher     8

---joined
     key  lval  rval
0  jamie  15.0     4
1   bill  22.0     5
2  asher   NaN     8

Notice the NaN inserted into the record with key=asher, since the left table didn't contain the key.

**Matching column names**  
In this next example, the value columns have the same name: *val*.  Notice what happens to the column names.

In [22]:
left = pd.DataFrame({"key": ["jamie", "bill"], "val": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "val": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="right") #right can be replace as 'outer'/ 'inner'⚠️

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

---left
     key  val
0  jamie   15
1   bill   22

---right
     key  val
0  jamie    4
1   bill    5
2  asher    8

---joined
     key  val_x  val_y
0  jamie   15.0      4
1   bill   22.0      5
2  asher    NaN      8

### TRY FOR YOURSELF (UNGRADED EXERCISES)

3) Redo the join exercise above, using an inner join instead of a right join.  
Make sure the results make sense.

In [ ]:
left = pd.DataFrame({"key": ["jamie", "bill"], "lval": [15, 22]})
right = pd.DataFrame({"key": ["jamie", "bill", "asher"], "rval": [4, 5, 8]})

joined = pd.merge(left, right, on="key", how="inner")

print('---left')
print(left)
print('\n---right')
print(right)
print('\n---joined')
print(joined)

add solution and fold to hide

## IV. Reshape

Changes the object's shape

We illustrate creating pandas Series, extracting array of length 6, and reshaping to 3x2 array.

In [25]:
# create a series 
ser = pd.Series([1, 1, 2, 3, 5, 8]) 

# extract values 
vals = ser.values 

print('orig data:', vals)
print('orig type:', type(vals))
print('orig shape:', vals.shape)

# reshaping series
reshaped_vals = vals.reshape((3, 2)) 

print('\n reshaped vals:')
print(reshaped_vals)
print('\n new type:', type(reshaped_vals))
print('new shape:', reshaped_vals.shape)

orig data: [1 1 2 3 5 8]
orig type: <class 'numpy.ndarray'>
orig shape: (6,)

 reshaped vals:
[[1 1]
 [2 3]
 [5 8]]

 new type: <class 'numpy.ndarray'>
new shape: (3, 2)

Including -1 as one of the dimensions tells numpy: infer this dimension from the data and the other dimensions.

Example: enforce 3 columns:

In [26]:
vals.reshape(-1,3)

array([[1, 1, 2],
       [3, 5, 8]])

Enforce 3 rows:

In [27]:
vals.reshape(3,-1)

array([[1, 1],
       [2, 3],
       [5, 8]])

In [28]:
⚠️vals.reshape(4,-1)

ValueError: cannot reshape array of size 6 into shape (4,newaxis)

**IMPORTANT NOTE**  

Notice the shape of original array: `(6,)`  
This is a vector with one dimension, and is different from two-dimensional `(6,1)` array

### TRY FOR YOURSELF (UNGRADED EXERCISES)

4) Recreate the series from above with data [1, 1, 2, 3, 5, 8]  
Extract the data from the series and reshape to 2x3.  
Print both the reshaped data, and the dimensions.

In [ ]:
ser = pd.Series([1, 1, 2, 3, 5, 8])
vals= ser.values
resh = vals.reshape(2,3)
print(resh)
print('new shape:', resh.shape)

## V. Categoricals

Categorical data takes discrete values where computation on the values does not make sense.  
Zip code is a typical example.

To include categoricals in models, they must be converted to numeric.  

### `get_dummies()`
Dummy code categorical data

Important parameters: 

- `prefix`    : append prefix to column names (a good idea for later use)
- `drop_first`: remove first level, as only `k-1` variables needed to represent `k` levels

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html)

In [36]:
#⚠️
cats = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese']})

print('--categorical data')
print(cats)

cats = pd.get_dummies(cats.breed, drop_first=None, prefix='breed') #create indicator
print('\n')
print('--dummified categorical data')
print(cats)

--categorical data
       breed
0    persian
1    persian
2    siamese
3  himalayan
4    burmese


--dummified categorical data
   breed_burmese  breed_himalayan  breed_persian  breed_siamese
0          False            False           True          False
1          False            False           True          False
2          False            False          False           True
3          False             True          False          False
4           True            False          False          False

In [41]:
cats2 = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese']})

print('--categorical data')
print(cats2)

cats2= pd.get_dummies(cats2.breed, drop_first=True, prefix='breed')

print('\n')
print('--dummified categorical data')
print(cats2)

--categorical data
       breed
0    persian
1    persian
2    siamese
3  himalayan
4    burmese


--dummified categorical data
   breed_himalayan  breed_persian  breed_siamese
0            False           True          False
1            False           True          False
2            False          False           True
3             True          False          False
4            False          False          False

Notice `burmese` was dropped (first level by alphabet)

### TRY FOR YOURSELF (UNGRADED EXERCISES)

5) The dataframe below contains two categoricals. Dummify each of them, giving them a prefix and dropping the first level from each. 

Print the new dataframe to insure correctness.

Hint: You might want to dummify each column into separate new dataframes, and then merge them together by using:

`pd.concat([df1, df2], axis=1)`

In [47]:
cats2 = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese'], 
                      'color':['calico','white','seal point','cream','sable']})

breed = pd.get_dummies(cats2.breed, drop_first=True, prefix='breed')
color = pd.get_dummies(cats2.color, drop_first=True, prefix='color') 

cats3 = pd.concat([breed,color], axis=1)
print(cats3)

   breed_himalayan  breed_persian  breed_siamese  color_cream  color_sable  \
0            False           True          False        False        False
1            False           True          False        False        False
2            False          False           True        False        False
3             True          False          False         True        False
4            False          False          False        False         True

   color_seal point  color_white
0             False        False
1             False         True
2              True        False
3             False        False
4             False        False

In [43]:
cats2 = pd.DataFrame({'breed':['persian','persian','siamese','himalayan','burmese'], 
                      'color':['calico','white','seal point','cream','sable']})

breed = pd.get_dummies(cats2.breed, drop_first=True, prefix='breed_')
color = pd.get_dummies(cats2.color, drop_first=True, prefix='color_')

cats3 = pd.concat([breed, color], axis=1)
cats3

,breed__himalayan,breed__persian,breed__siamese,color__cream,color__sable,color__seal point,color__white
0,False,True,False,False,False,False,False
1,False,True,False,False,False,False,True
2,False,False,True,False,False,True,False
3,True,False,False,True,False,False,False
4,False,False,False,False,True,False,False

---