Questions 1-3

In [9]:
gradebook = {'Jon': 95, 'Mike': 84, 'Jamie': 99}
print (gradebook)

{'Jon': 95, 'Mike': 84, 'Jamie': 99}

In [10]:
gradebook ['Mike']

84

In [13]:
gradebook ['Jeff']

KeyError: 'Jeff'

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
Cell In[13], line 1
----> 1 gradebook ['Jeff']

KeyError: 'Jeff'

Questions 4-7

In [17]:
names = ['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']
print (names)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [19]:
names.sort()
print (names)

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

In [20]:
names_set = {'Alex', 'Patrick', 'Tom', 'Joe', 'Alex'}
print (names_set)

{'Alex', 'Joe', 'Patrick', 'Tom'}

In [21]:
td = [2, 4, 1, 3, 1]
print(td)

[2, 4, 1, 3, 1]

In [22]:
odd_td = [x for x in td if x%2!=0]
print (odd_td)

[1, 3, 1]

In [25]:
n_greater_than_1 = [x for x in td if x>1]
print (n_greater_than_1)

[2, 4, 3]